//-------------------->HEADER<--------------------
//Contenedor superior que contiene el logo escrito
//de wikipedia, un eslogan, y una imagen del logo
//visual de wikipedia.
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    //imagen del logo visual de wikipedia, está imagen
    //está sujeta a cambios por el responsive.
    img {
        display: inline-block;
        vertical-align: middle;
    }
    //contenedor del logo escrito de wikipedia, y el
    //eslogan.
    .logotipo-container {
        display: flex;
        flex-direction: column;
        //Logo escrito que va encima del eslogan.
        .logotipo-container__logo {
            display: inline-block;
            vertical-align: middle;
        }
        //Eslogan que va debajo del logo escrito.
        .logotipo-container__eslogan {
            display: inline-block;
        }

    }
}
//-------------------->SECTION IDIOMAS<--------------------
//Contenedor del areá de idiomas disponibles de wikipedia
//este contenedor está sujeto a cambios por el responsive.
.container-idioma {
    width: auto;
    height: auto;
    margin-top: 7rem;
    //configuración de cada uno de los articulos que contiene
    //cada uno de los idiomas. Esto está sujeto a adiciones por
    //el responsive.
    .contaier-idioma__articulo {
        float: left;
        display: block;
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        text-align: center;
        //Titulo, o nombre del idioma en cada articulo.
        a {
        }
        //Cantidad de articulos que tiene la wikipedia en ese idioma.
        p {
        }
    }
}
//-------------------->NAV<--------------------
//Nav del sitio, aquí tenemos dos contenedores,
//el primero es form_container, el que está
//aquí abajo, este se encarga de contener la 
//barra de busqueda, y más abajo hay un pseudo-
//desplegable que se llama desplegable_container.
.form_container {
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    bottom: 410px;
    transition-property: all;
    //botón azul que va dentro de la barra de busqueda.
    button {
        //Simbolo de lupa que va dentro del botón azul.
        span {
            display: inline-block;
        }
    }
    //El input en donde podremos escribir dentro de la
    //barra de busqueda. 
    input {
        position: relative;
        display: inline-block;
    }
    //detonador de una transición para agregar nuevos estilos al
    //tener seleccionado el input, y avisar al usuario que ahora
    //puede ingresar texto.
    input:focus {
        border-color: blue;
        box-shadow: 1px 1px 1px blue inset, 1px 1px 8px blue; //<<<<<<<<<<<- state
        outline: 0 none;
    }
    //Pequeño desplegable que va dentro de la barra de busqueda
    //en donde podremos seleccionar el idioma de nuestra busqueda.
    .form_container_desplegable {
        display: flex;
        position: absolute;
        right: 18%;
        //Texto del desplegable.
        p {
            vertical-align: middle;
        }
        //simbolo de flecha hacía abajo que indica que el desplegable
        //puede mostrar más cosas al hacer click.
        span {
            display: inline-block;
            position: relative;
            top: 2px;
            vertical-align: center;
        }
    }
}
//Desplegable de la parte central que tiene de leyenda:
//"leer wikipedia en tu idioma". Aquí tenemos su container.
.desplegable_container {
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    //Logo de idiomas que va en la izquierda dentro del desplegable.
    .desplegable_container__logo_idiomas {
        display: inline-block;
        position: relative;
        top: 1px;
        left: 2px;
    }
    //Texto que dice la leyenda "leer wikipedia en tu idioma".
    p {
       
    }
    //Logo de flecha hacía abajo que indica que puede desplegar varias cosas
    //al hacer click.
    .desplegable_container__logo_downarrow {
        display: inline-block;
        position: relative;
        top: 2px;
        right: 2px;
    }
}
//linea que decora el desplegable anterior, está linea
//crece, y se encoge según el tamaño de pantalla.
//está linea está detrás del desplegable.
.linea_desplegable {
    position: relative;
    bottom: 48px;
}
//un pequeño hr para separar el contenido de nav y main.
.separador_nav_main {

}
//-------------------->MAIN<--------------------
//contenido main que está casi en la parte inferior,
//estó contiene 2 contenedores, el primero es el de
//wikis_container que contiene las dos secciones que
//explican quien aloja wikipedia, y de donde se puede
//descargar, el otro container es enlaces, que
//contiene las categorias de los articulos de wikipedia.
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    //contenedor de los 2 contenedores que explican quien aloja
    //wikipedia, y de donde escargarse.
    .wikis_container {
        order: 2;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        //contenedor que explica quien aloja wikipedia.
        .wikimedia_container {
            position: absolute;
            top: 660px;
            //logo negro que va en la parte superior.
            .wikimedia_container__logo {
                display: inline-block;
            }
            //Texto explicativo.
            .wikimedia_container__texto {
            }
            //Enlace que debería redirigir a un sitio de donaciones.
            .wikimedia_container_enlace {
            }
        }
        //Container que explica de donde se puede descargar wikipedia.
        .descargar_container {
            order: 3;
            //Container que aloja el logo y el titulo, ya que tienen posiciones
            //fáciles de llegar por medio de un flex.
            .descargar_container__logoYtitulo {
                display: flex;
                justify-content: space-around;
                //Logo cuadradito de wikipedia.
                .descargar_container__logo {
                    display: inline-block;
                }
                //titulo del container.
                .descargar_container__titulo {
                    position: relative;
                    top: 8px;
                }
            }
            //Texto explicativo.
            .descargar_container__texto {
                font-size: 1.4rem;
                line-height: 1.5;
                font-family: 'Roboto', sans-serif;
                font-weight: lighter;
                margin-top: 10px;
            }
            //container que tiene ambos botones de los enlaces de descarga.
            .descargar_container__enlaces {
                display: flex;
                justify-content: center;
                //container de la configuración visual de los enlaces.
                .descargar_container__enlace {

                }
                //modifier para poner un backgroud distinto.
                .appstore {

                }
            }

        }
    }
    //Contenedor que contiene cada uno de los enlaces a las distintas
    //categorias o temas que tiene la wikipedia.
    .enlaces {
        order: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        //enlace general para cada uno de los enlaces.
        .enlace_container {
            display: flex;
            //imagen simbolica que representa cada uno de los temas
            //de cada enlace.
            img {
            }
            //container que tiene en su interior un titulo, y un texto.
            .enlace_container__texto {
                //enlace que sirve de titulo para cada categoria.
                .enlace_container__enlace {
                }
                //corta explicación de cada categoria.
                .enlace_container__parrafo {
                }
            }
        }
    }
}
//pequeño hr que separa el main del footer.
.separador_main_footer {

}
//-------------------->FOOTER<--------------------
//Footer que tiene un container en donde se acomoda
//todo lo relacionado con licencias, e información
//extra.
footer {

    //este contenedor alinea cada uno de los elementos
    //visibles del footer
    .footer_container {
        display: flex;
        justify-content: center;

        //texto de cada uno de los elementos del footer
        p {

            //enlaces extras.
            a {

            }
            //el punto detrás de cada enlace.
            .separador {
                display: inline-block;
            }
        }
    }
}