* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #54595d; }

html {
  font-size: 62.5%; }

.header-container {
  display: flex;
  justify-content: center;
  align-items: center; }
  .header-container img {
    display: inline-block;
    vertical-align: middle; }
  .header-container .logotipo-container {
    display: flex;
    flex-direction: column; }
    .header-container .logotipo-container .logotipo-container__logo {
      display: inline-block;
      vertical-align: middle; }
    .header-container .logotipo-container .logotipo-container__eslogan {
      display: inline-block; }

.container-idioma {
  width: auto;
  height: auto;
  margin-top: 7rem; }
  .container-idioma .contaier-idioma__articulo {
    width: 33%;
    height: 6.4rem;
    float: left;
    display: block;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    margin: 0 0 1.6rem;
    padding: 0 1.6rem;
    text-align: center; }
    .container-idioma .contaier-idioma__articulo a {
      font-weight: 700;
      color: #3366cc;
      font-size: 1.3rem; }
    .container-idioma .contaier-idioma__articulo p {
      color: #54595d;
      font-size: 1.3rem;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.form_container {
  max-width: 95%;
  width: 450px;
  height: 4.4rem;
  margin: 0 auto;
  margin-top: 40rem;
  text-align: center;
  vertical-align: middle;
  display: flex;
  border: 1px solid #54595d;
  align-items: center;
  justify-content: space-between;
  position: relative;
  bottom: 410px;
  transition-property: all; }
  .form_container button {
    height: 44px;
    width: 55px;
    border: 1px solid #54595d;
    border-right: 0;
    background-color: #3366cc; }
    .form_container button span {
      width: 22px;
      height: 22px;
      background-image: url("./assets/search.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block; }
  .form_container input {
    max-width: 82%;
    width: 420px;
    height: 4.2rem;
    border: 3px solid blue;
    position: relative;
    display: inline-block;
    padding-left: 10px; }
  .form_container input:focus {
    border-color: blue;
    box-shadow: 1px 1px 1px blue inset, 1px 1px 8px blue;
    outline: 0 none; }
  .form_container .form_container_desplegable {
    display: flex;
    position: absolute;
    right: 18%; }
    .form_container .form_container_desplegable p {
      vertical-align: middle; }
    .form_container .form_container_desplegable span {
      width: 10px;
      height: 10px;
      background-image: url("./assets/down_arrow.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      position: relative;
      top: 2px;
      vertical-align: center; }

.desplegable_container {
  z-index: 2;
  margin: 0 auto;
  width: 100%;
  max-width: 271px;
  border: 1px solid #54595d;
  height: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3.0rem;
  position: relative;
  background-color: white; }
  .desplegable_container .desplegable_container__logo_idiomas {
    width: 2.2rem;
    height: 2.2rem;
    background-image: url("./assets/idiomas.PNG");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
    position: relative;
    top: 1px;
    left: 2px; }
  .desplegable_container p {
    font-size: 1.4rem;
    color: #3366cc;
    font-weight: 700;
    line-height: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
  .desplegable_container .desplegable_container__logo_downarrow {
    width: 2.2rem;
    height: 2.2rem;
    background-image: url("./assets/down_arrow_blue.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
    position: relative;
    top: 2px;
    right: 2px; }

.linea_desplegable {
  z-index: 1;
  background-color: #c8ccd1;
  max-width: 460px;
  width: 80%;
  margin: 0 auto;
  height: 1px;
  position: relative;
  bottom: 48px; }

.separador_nav_main {
  width: 98%;
  margin: 0 auto; }

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px; }
  main .wikis_container {
    order: 2;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    main .wikis_container .wikimedia_container {
      height: auto;
      width: 96%;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 20px;
      position: absolute;
      top: 660px; }
      main .wikis_container .wikimedia_container .wikimedia_container__logo {
        display: inline-block;
        width: 40px;
        height: 40px;
        background-image: url(./assets/wikimedia.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat; }
      main .wikis_container .wikimedia_container .wikimedia_container__texto {
        font-size: 1.4rem;
        line-height: 1.5;
        font-family: 'Roboto', sans-serif;
        font-weight: lighter; }
      main .wikis_container .wikimedia_container .wikimedia_container_enlace {
        font-size: 1.3rem;
        line-height: 1.5;
        font-family: 'Roboto', sans-serif;
        color: #3366cc; }
    main .wikis_container .descargar_container {
      order: 3;
      height: auto;
      width: 96%;
      margin: 0 auto;
      text-align: center;
      margin-top: 20px;
      background-color: #f8f9fa; }
      main .wikis_container .descargar_container .descargar_container__logoYtitulo {
        width: 280px;
        display: flex;
        margin: 0 auto;
        justify-content: space-around; }
        main .wikis_container .descargar_container .descargar_container__logoYtitulo .descargar_container__logo {
          display: inline-block;
          width: 30px;
          height: 30px;
          background-image: url(./assets/descargar.png);
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          vertical-align: middle; }
        main .wikis_container .descargar_container .descargar_container__logoYtitulo .descargar_container__titulo {
          font-size: 1.4rem;
          line-height: 1.5;
          font-family: 'Roboto', sans-serif;
          vertical-align: middle;
          position: relative;
          top: 8px; }
      main .wikis_container .descargar_container .descargar_container__texto {
        font-size: 1.4rem;
        line-height: 1.5;
        font-family: 'Roboto', sans-serif;
        font-weight: lighter;
        margin-top: 10px; }
      main .wikis_container .descargar_container .descargar_container__enlaces {
        display: flex;
        justify-content: center;
        margin-top: 10px; }
        main .wikis_container .descargar_container .descargar_container__enlaces .descargar_container__enlace {
          width: 120px;
          height: 36px;
          background-image: url(./assets/googleplay.png);
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat; }
        main .wikis_container .descargar_container .descargar_container__enlaces .appstore {
          background-image: url(./assets/appstore.png); }
  main .enlaces {
    order: 1;
    max-width: 80%;
    width: 1200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 140px; }
    main .enlaces .enlace_container {
      width: 50%;
      min-height: 50px;
      display: flex;
      margin-bottom: 20px;
      padding-right: 10px; }
      main .enlaces .enlace_container img {
        width: 50px;
        height: 50px; }
      main .enlaces .enlace_container .enlace_container__texto .enlace_container__enlace {
        font-size: 1.5rem;
        line-height: 1.5;
        font-family: 'Roboto', sans-serif;
        font-weight: lighter;
        color: #3366cc; }
      main .enlaces .enlace_container .enlace_container__texto .enlace_container__parrafo {
        word-wrap: break-word;
        font-size: 1.3rem;
        line-height: 1.5;
        font-family: 'Roboto', sans-serif;
        font-weight: lighter; }

.separador_main_footer {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px; }

footer {
  height: auto; }
  footer .footer_container {
    display: flex;
    justify-content: center;
    height: auto; }
    footer .footer_container p {
      text-align: center;
      font-size: 1.2rem;
      line-height: 1.5;
      font-family: 'Roboto', sans-serif;
      font-weight: lighter; }
      footer .footer_container p a {
        font-size: 1.2rem;
        line-height: 1.5;
        font-family: 'Roboto', sans-serif;
        font-weight: lighter;
        color: #3366cc; }
      footer .footer_container p .separador {
        display: inline-block;
        width: 4px;
        height: 4px;
        border-radius: 2px;
        background-color: black;
        margin-left: 6px;
        margin-right: 4px; }

.header-container {
  width: auto;
  height: 100px;
  margin-top: 30px; }
  .header-container img {
    width: 57px;
    height: auto; }
  .header-container .logotipo-container {
    margin-top: 30px;
    width: auto;
    height: 70px; }
    .header-container .logotipo-container .logotipo-container__logo {
      width: 165px;
      height: 27px;
      background-image: url("./assets/wikipedia_logo_escrito.PNG");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin: 0 auto; }
    .header-container .logotipo-container .logotipo-container__eslogan {
      text-align: center;
      font-size: 1.4rem;
      font-weight: lighter; }

/*# sourceMappingURL=style.css.map */
